// Importing Important Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&family=Poppins:wght@600;900&display=swap');

// Variables
$primary_font : 'Karla', sans-serif;
$secondary_font :  'Poppins', sans-serif;
$theme_color:#325069;
$accent_color: #F8669E;
$secondary: #fff;
body{
    font-family: $primary_font;
    position: relative;
    overflow-x: hidden;
}

button{
    background: $accent_color;
    padding: 0.6rem 2.5rem;
    border-radius: 26px;
    transition: all ease-in 0.6s;
    border-color: transparent;
    a{
        color: $secondary;
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        font-size: 1rem;
    }
    &:hover{
        background-color: #aa2a2a;
    }
   }
.btn-secondary{
    background: transparent;
    outline: $accent_color 1px solid;
    &:hover{
        background-color: $accent_color;
    }
}
// Header
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: auto;
    z-index: 2;
     background: linear-gradient(to bottom, #325069a6 0%,rgba(0,0,0,0) 100%); 
    
    box-shadow: none;
    nav {
      
        ul{
           list-style: none;
           margin-bottom: 0!important;
           li{
            text-transform: uppercase;
            padding: 1rem;
            padding-right: 2rem;
            a{
                text-decoration: none;
                font-weight: bold;
                color:#fff;
                transition: color 0.5s ease;
                &:hover{
                    color: $accent_color;
                }
            }
           }
           
        }
       
    }
}

.section-title{
    text-align: center;
    font-size: 2.2rem;
    font-family: $secondary_font;
    h3{
        font-size: 2.8rem;
    }
    span{
        font-weight: bold;
        color: $theme_color;
    }
    .shape::before,.shape::after{
        content:"";
        display: block;
        height: 2px;
        width: 125px;
        background: #000    ;
        opacity: .15;
    }
}
// Swiper

.hero {
    .hex-separator{
        position: absolute;
        bottom: 0%;
        left: 0;
        width: 100%;
        z-index: 1;   
    }
    .swiper {
        width: 100%;
        height: 100%;
        height: 600px;
      }
      .swiper-pagination{
        bottom:10%
      }
     
      .swiper-slide {
        position: relative;
        text-align: center;
        font-size: 18px;
        background-repeat: no-repeat !important;
        background-size: cover!important;
        background-position: center!important;
        background-blend-mode: multiply;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
      }
      .swiper-slide .slide-content{
        height: 100%;
        padding: 3rem;
        padding-top: 5rem;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
        h2{
            font-family: $secondary_font;
            font-weight: 700;
            color: #fff;
            font-size: 6rem;
            margin-bottom: 1rem;
        }
        h3{
            color: #fff;
            margin-bottom: 1rem;
            font-size: 1.3rem;
        }
        h4{
            color: #fff;
            font-size: 1.5rem;
            text-transform: uppercase;
            span{
                color: aqua;
            }
        }
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    
   
}

.about-us{
    padding-top: 7rem;
    padding-bottom: 7rem;
    .coordinator{
        img{
           
        }
        h5{
            font-weight: 600;
            font-family: $secondary_font;
        }
        a{
            color: #000;
            transition: all 0.6s ease;
            &:hover{
                color: $accent_color;
            }
        }
    }
}

.features{
    background: #f2f2f2;
    padding-top: 7rem;
    padding-bottom: 7rem;
    .inner-content{
        transition: all 0.5s ease-in-out;
        border-bottom: $theme_color 3px solid;
        h6{
            font-weight: 600;
            font-size: 1.3rem;
            font-family: $secondary_font;
        }
        &:hover{
            box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset!important;
        }
    }
}
.clubs{
    padding-top: 7rem;
    padding-bottom: 7rem;
    .club-list{
        gap:25px;
        flex-wrap: wrap;
        .club-item{
            flex-direction: row;
            width:calc(50% - 25px);
            border-left:4px solid $accent_color;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
            transition: all ease-in-out 0.6s;
            &:hover{
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
            img{
                height: 165px;
                width: 165px;
                object-fit: contain;
            }
            p{
                margin-bottom: 0!important;
            }
            &:last-child{
                width: 80%;
            }
        }
        h5{
            margin-bottom:10px;
            font-size: 1.1rem;
            text-transform: uppercase;
        }
        
    }
    a{
        color: $theme_color;
       
        text-decoration: none;
        font-family: $secondary_font;
        font-weight: 600;
        margin-top: 10px;
        transition: all 0.6s ease;
        &:hover{
            color: $accent_color;
        }
    }
}
.gallery{
    padding-top: 7rem;
    padding-bottom: 7rem;
    background: #f2f2f2;
    .gallery-container{
        display: flex;
        flex-wrap: wrap;
        gap:15px;
        justify-content: center;
        a{
            overflow: hidden;
            img{
                width: 100%;
            max-width: 500px;
            height: auto;
           
            transition: transform ease-in-out 0.8s;
            &:hover{
                transform: scale(1.2) rotate(3deg);
            }
        }
        }
        
    }
}
footer {
    background: #325069;
    p{
    margin-bottom: 0;
    color:#fff;
    }
    a{
        color: $accent_color;
       
        text-decoration: none;
        font-family: $secondary_font;
        font-weight: 600;
        margin-top: 10px;
        transition: all 0.6s ease;
        
    }
}
// Back to top button
.back-to-top-btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 21px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: $theme_color;
    color: white;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    z-index: 9999;
    transition: opacity 0.3s ease;
  }
  
  .back-to-top-btn i {
    vertical-align: middle;
  }
  
  .back-to-top-btn.show {
    display: block;
    opacity: 1;
  }
  #menu-ham{
    color:#fff;
    font-size: 20px;
  }
  .d-mobile-only{
    display: none;
  }
// Responsive media queries
// Tablet Friendly
@media(max-width: 992px) {
    html{
        font-size: 12px;
      }
      header nav ul li {
        padding-right: 1rem;
      }
      header nav ul.me-5{
        padding-left:1rem;
        padding-right: 1rem;
        margin-right: 0rem!important;
      }
      header button{
        padding:0.6rem 1rem
      }
}
@media(max-width: 768px) {
       
      .clubs .club-list .club-item,.clubs .club-list .club-item:last-child{
        width: 90%;
      }
}
@media(max-width: 650px){
    .hero .swiper-slide .slide-content h2{
        font-size: 5rem;
    }
}
@media(max-width: 575px){
    header nav ul.d-flex.menu-active{
        display: block!important;
    position: absolute;
    width: 100%;
    left: 0;
    background: $theme_color;
    top: 100%;
    padding-left: 3rem;
    }
    html{
        font-size: 10px;
      }
    .d-mobile-only{
        display: block;
      }
    header nav{
         ul.d-flex{
            display: none!important;
         }
    }
    header .col-2{
        width: 40%;
    }
    header .col-10{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 60%;
    }
    footer p{
        text-align: center;
    }
    .hero .swiper-slide .slide-content h2{
        font-size: 3rem;
    }
    .hero .swiper{
        height: 400px;
    }
    #features .row{
        .ms-3, .me-3{
            margin-left: 0!important;
            margin-right: 0!important;
        }
    }
}
@media(max-width: 415px){
    .clubs .club-list .club-item{
        flex-direction: column;
        text-align: center;
        .content{
            padding-top: 1rem;
        }
    }
}